
#sidebar
  h1
    a(href="/") S. C. Young

  ol
    li
      a(href="/essays") Essays
    li
      a(href="/journal") Journal
    li
      a(href="/blog") Old Posts

  ol
    li
      a(href="/resume.pdf") Resume
    li
      a(href="https://fb.com/srcreigh") Facebook
    li
      a(href="https://github.com/srcreigh") Github

  ol
    li
      a(href="https://github.com/srcreigh/srcreigh.github.io") Source
    li
      a(href="/?hmm") Meta
  
