
#sidebar

  img#avatar(src='/img/me.png', alt='Shane Creighton-Young', height=150, width=150)

  #sidebar-holder
    h1
      a(href='/') #{global.title}

    ul#social
      for item in sidebar.social
        li 
          a.symbol(href='#{item.url}', target='_blank') #{item.icon}

