doctype html

html
  head
    if(title)
      title S. C. Young - #{title}
    else
      title S. C. Young

    link(rel='stylesheet', type='text/css', href='/reset.css')
    link(rel='stylesheet', type='text/css', href='/style.css')

  body
    include includes/sidebar.jade
    #content
      h1 Essays
      p There is nothing here yet.


