
html
  head
    title #{global.title}
    include includes/fonts.jade
    link(rel='stylesheet', type='text/css', href='../css/reset.css')
    link(rel='stylesheet', type='text/css', href='../css/main.css')

  body
    #holder
      #content !{contents}
        //- sidebar div
        include includes/sidebar.jade
