doctype html

html
  head
    if(title)
      title S. C. Young - #{title}
    else
      title S. C. Young

    include includes/css.jade
    include includes/analytics.jade

  body
    include includes/sidebar.jade
    #content
      h1 Journal
      for entry in journal
        h2
          a(href='/#{entry.path}') #{entry.title}
        .subtitle #{entry.prettydate}



